<h2>Tus grabaciones</h2>
<h3 class="mb-2">Implementar cache</h3>
<div class="w-full">
  <div class="grid grid-cols-1 gap-3 lg:grid-cols-2 xl:grid-cols-3">
    @for (record of recordings; track $index) {
      <div class="flex flex-col gap-y-2">
        <div class="flex items-center justify-between">
          <div class="flex flex-col gap-y-1">
            <span class="font-semibold">{{record.title}}</span>
            <span class="text-neutral-500">{{record.date | date: 'yyyy-MM-dd HH:mm'}}</span>
          </div>
          <button mat-icon-button color="accent" matTooltip="Eliminar grabación" class="mr-8">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <audio src="" controls></audio>
      </div>
    }
  </div>
</div>