<div class="fixed flex gap-4 -translate-x-1/2 bottom-5 left-1/2">
  <button
    mat-fab
    [color]="cameraActive ? 'default' : 'warn'"
    (click)="toggleCamera()"
  >
    <mat-icon>{{ cameraActive ? 'videocam' : 'videocam_off' }}</mat-icon>
  </button>
  <button
    mat-fab
    [color]="micActive ? 'default' : 'warn'"
    (click)="toggleMic()"
  >
    <mat-icon>{{ micActive ? 'mic' : 'mic_off' }}</mat-icon>
  </button>
  <a href="/rooms">
    <button mat-fab color="warn">
      <mat-icon>call_end</mat-icon>
    </button>
  </a>
  <button
    mat-fab
    [color]="recordActive ? 'warn' : 'default'"
    (click)="toggleRecord()"
  >
    <mat-icon>{{ recordActive ? 'stop' : 'fiber_manual_record' }}</mat-icon>
  </button>
</div>
